In [1]:
import json
import tempfile

import great_expectations as ge
import great_expectations.render

from IPython.core.display import display, HTML

In [3]:
df = ge.read_csv("./Sacramentorealestatetransactions.csv")
# df = ge.read_csv("../../../examples/data/Meteorite_Landings.csv")
df.head()

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768

In [4]:
df.autoinspect(ge.dataset.autoinspect.pseudo_pandas_profiling)

In [5]:
expectations_config = df.get_expectations_config(suppress_warnings=True)
print(len(expectations_config["expectations"]))
# print(json.dumps(expectations_config, indent=2)[:1000])

67

In [6]:
evrs = df.validate()["results"]
print(json.dumps(evrs, indent=2)[:1000])

[
  {
    "success": true,
    "exception_info": {
      "raised_exception": false,
      "exception_message": null,
      "exception_traceback": null
    },
    "expectation_config": {
      "expectation_type": "expect_column_to_exist",
      "kwargs": {
        "column": "street",
        "result_format": "BASIC"
      }
    }
  },
  {
    "success": true,
    "result": {
      "element_count": 985,
      "missing_count": 0,
      "missing_percent": 0.0,
      "unexpected_count": 0,
      "unexpected_percent": 0.0,
      "unexpected_percent_nonmissing": 0.0,
      "partial_unexpected_list": []
    },
    "exception_info": {
      "raised_exception": false,
      "exception_message": null,
      "exception_traceback": null
    },
    "expectation_config": {
      "expectation_type": "expect_column_values_to_be_of_type",
      "kwargs": {
        "column": "street",
        "type_": "string",
        "result_format": "BASIC"
      }
    }
  },
  {
    "success": true,
    "result": {

In [7]:
# Render all EVRs for this dataframe to HTML
R = great_expectations.render.DescriptiveEvrPageRenderer(evrs)
rendered_page = R.render()

# Store to a temp file
temp = tempfile.NamedTemporaryFile(mode="w+t", suffix=".html")
temp.writelines(rendered_page)
temp.seek(0)

0

In [8]:
%%bash -s "$temp.name"
open $1

In [28]:
temp.close()

In [11]:
# Render prescriptive expectations for a single column to a notebook cell

R = great_expectations.render.PrescriptiveExpectationColumnSectionRenderer(
    column_name="name",
    expectations_list=expectations_config["expectations"][:6]
)
rendered_page = R.render(mode="html")
display(HTML(rendered_page))

In [12]:
#Render descriptive EVRs for a single column to a notebook cell

R = great_expectations.render.DescriptiveEvrColumnSectionRenderer(
    column_name="name",
    evrs=evrs[:6]
)
rendered_page = R.render(mode="html")
display(HTML(rendered_page))