In [1]:
import pandas as pd
import great_expectations as gx

In [2]:
context = gx.get_context(cloud_mode=False)

In [3]:
df = pd.read_csv(
    "/Users/nathanfarmer/datasets/taxi_data/yellow_tripdata/samples/yellow_tripdata_2021-06.csv"
)

In [4]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,2.0,2021-06-27 11:57:37,2021-06-27 12:19:16,1.0,6.14,1.0,N,262,211,1.0,22.0,0.0,0.5,3.00,0.0,0.3,28.30,2.5
1,2.0,2021-06-02 17:03:55,2021-06-02 17:24:29,5.0,1.97,1.0,N,107,68,1.0,13.5,1.0,0.5,3.56,0.0,0.3,21.36,2.5
2,2.0,2021-06-13 10:39:28,2021-06-13 10:51:38,2.0,2.79,1.0,N,48,263,2.0,11.0,0.0,0.5,0.00,0.0,0.3,14.30,2.5
3,2.0,2021-06-11 01:26:19,2021-06-11 01:32:37,5.0,2.05,1.0,N,79,233,1.0,8.0,0.5,0.5,2.95,0.0,0.3,14.75,2.5
4,2.0,2021-06-25 13:56:45,2021-06-25 14:05:27,1.0,1.65,1.0,N,163,186,1.0,8.0,0.0,0.5,2.82,0.0,0.3,14.12,2.5

In [5]:
before_columns = df.columns

In [6]:
datasource = context.sources.pandas_default

In [7]:
validator = datasource.read_dataframe(dataframe=df)

Batch objects provided to BatchManager must be formal Great Expectations Batch typed objects.

In [8]:
print(datasource)

assets:
  '#ephemeral_pandas_asset':
    name: '#ephemeral_pandas_asset'
    type: dataframe
name: default_pandas_datasource
type: pandas

In [9]:
validator.expect_table_columns_to_match_set(column_set=before_columns)

Calculating Metrics:   0%|          | 0/2 [00:00<?, ?it/s]

{
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": true,
  "result": {
    "observed_value": [
      "VendorID",
      "tpep_pickup_datetime",
      "tpep_dropoff_datetime",
      "passenger_count",
      "trip_distance",
      "RatecodeID",
      "store_and_fwd_flag",
      "PULocationID",
      "DOLocationID",
      "payment_type",
      "fare_amount",
      "extra",
      "mta_tax",
      "tip_amount",
      "tolls_amount",
      "improvement_surcharge",
      "total_amount",
      "congestion_surcharge"
    ]
  }
}

In [10]:
df = df.drop(columns=["VendorID"])

In [11]:
validator = datasource.read_dataframe(dataframe=df)

Batch objects provided to BatchManager must be formal Great Expectations Batch typed objects.

In [12]:
print(datasource)

assets:
  '#ephemeral_pandas_asset':
    name: '#ephemeral_pandas_asset'
    type: dataframe
name: default_pandas_datasource
type: pandas

In [13]:
validator.expect_table_columns_to_match_set(column_set=before_columns)

Calculating Metrics:   0%|          | 0/2 [00:00<?, ?it/s]

{
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  },
  "success": false,
  "result": {
    "observed_value": [
      "DOLocationID",
      "PULocationID",
      "RatecodeID",
      "congestion_surcharge",
      "extra",
      "fare_amount",
      "improvement_surcharge",
      "mta_tax",
      "passenger_count",
      "payment_type",
      "store_and_fwd_flag",
      "tip_amount",
      "tolls_amount",
      "total_amount",
      "tpep_dropoff_datetime",
      "tpep_pickup_datetime",
      "trip_distance"
    ],
    "details": {
      "mismatched": {
        "missing": [
          "VendorID"
        ]
      }
    }
  }
}