# what are self initialzing expectations? 

* How do tehy work? 
*

* this will Hwo would it have been done before? 
* howdo you know 
*  start off wit

In [ ]:
* What should we talk about? *
* `ParameterBuilderConfiguration`, which

In [17]:
* they have a `RuleBasedProfilerConfig` with some default value. 
* and when we run it.. hwat
* we have RuleBasedProfiler is the engine in which we can do this.... create the value . 
* we only hwant to make asomething. 
* want to have hte data.

SyntaxError: invalid syntax (328701786.py, line 1)

In [2]:
import great_expectations as ge

from ruamel import yaml

from great_expectations.core.batch import BatchRequest

from great_expectations.rule_based_profiler.rule.rule import Rule
from great_expectations.rule_based_profiler.rule_based_profiler import RuleBasedProfiler, RuleBasedProfilerResult

from great_expectations.rule_based_profiler.domain_builder import (
    DomainBuilder,
    ColumnDomainBuilder,
)
from great_expectations.rule_based_profiler.parameter_builder import (
    MetricMultiBatchParameterBuilder,
)
from great_expectations.rule_based_profiler.expectation_configuration_builder import (
    DefaultExpectationConfigurationBuilder,
)

/Users/work/Development/ENVs/supercon_ge/lib/python3.8/site-packages/snowflake/connector/options.py:94: UserWarning: You have an incompatible version of 'pyarrow' installed (7.0.0), please install a version that adheres to: 'pyarrow<3.1.0,>=3.0.0; extra == "pandas"'
  warn_incompatible_dep(

In [3]:
data_context: ge.DataContext = ge.get_context()

Set-up: Adding taxi_data Datasource
Add taxi_data as a new Datasource
We are using an InferredAssetFilesystemDataConnector to connect to data in the test_sets/taxi_yellow_tripdata_samples folder and get one DataAsset (yellow_tripdata_sample_2018) that has 12 Batches (1 Batch/month).

In [4]:
data_path: str = "../../../../test_sets/taxi_yellow_tripdata_samples"

datasource_config = {
    "name": "taxi_multi_batch_datasource",
    "class_name": "Datasource",
    "module_name": "great_expectations.datasource",
    "execution_engine": {
        "module_name": "great_expectations.execution_engine",
        "class_name": "PandasExecutionEngine",
    },
    "data_connectors": {
        "default_inferred_data_connector_name": {
            "class_name": "InferredAssetFilesystemDataConnector",
            "base_directory": data_path,
            "default_regex": {
                "group_names": ["data_asset_name", "month"],
                "pattern": "(yellow_tripdata_sample_2018)-(\\d.*)\\.csv",
            },
        },
        "default_inferred_data_connector_name_all_years": {
            "class_name": "InferredAssetFilesystemDataConnector",
            "base_directory": data_path,
            "default_regex": {
                "group_names": ["data_asset_name", "year", "month"],
                "pattern": "(yellow_tripdata_sample)_(\\d.*)-(\\d.*)\\.csv",
            },
        },
    },
}

data_context.test_yaml_config(yaml.dump(datasource_config))

Attempting to instantiate class from config...
	Instantiating as a Datasource, since class_name is Datasource
	Successfully instantiated Datasource


ExecutionEngine class name: PandasExecutionEngine
Data Connectors:
	default_inferred_data_connector_name : InferredAssetFilesystemDataConnector

	Available data_asset_names (1 of 1):
		yellow_tripdata_sample_2018 (3 of 12): ['yellow_tripdata_sample_2018-01.csv', 'yellow_tripdata_sample_2018-02.csv', 'yellow_tripdata_sample_2018-03.csv']

	Unmatched data_references (3 of 30):['.DS_Store', 'first_3_files', 'random_subsamples']

	default_inferred_data_connector_name_all_years : InferredAssetFilesystemDataConnector

	Available data_asset_names (1 of 1):
		yellow_tripdata_sample (3 of 36): ['yellow_tripdata_sample_2018-01.csv', 'yellow_tripdata_sample_2018-02.csv', 'yellow_tripdata_sample_2018-03.csv']

	Unmatched data_references (3 of 6):['.DS_Store', 'first_3_files', 'random_subsamples']

In [5]:
# add_datasource only if it doesn't already exist in our configuration
try:
    data_context.get_datasource(datasource_config["name"])
except ValueError:
    data_context.add_datasource(**datasource_config)

In [6]:
single_batch_batch_request: BatchRequest = BatchRequest(
    datasource_name="taxi_multi_batch_datasource",
    data_connector_name="default_inferred_data_connector_name",
    data_asset_name="yellow_tripdata_sample_2018",
    data_connector_query={"index": -1},
)

In [ ]:
result = validator.expect_column_values_to_be_between(
    column=column_name,
    min_value=0.0,
    result_format="SUMMARY",
    include_config=True,
    auto=True,
    profiler_config=custom_profiler_config,
)

In [8]:
suite = data_context.create_expectation_suite(expectation_suite_name="testing", overwrite_existing=True
)

In [9]:
validator = data_context.get_validator(expectation_suite=suite, batch_request=single_batch_batch_request)

In [10]:
validator.head()

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,rate_code_id,store_and_fwd_flag,pickup_location_id,dropoff_location_id,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,2,2018-12-22 18:30:39,2018-12-22 18:42:37,1,1.39,1,N,170,229,2,9.0,0.0,0.5,0.00,0.0,0.3,9.80,NaN
1,2,2018-12-29 14:46:47,2018-12-29 15:07:41,1,3.77,1,N,68,140,1,16.0,0.0,0.5,5.04,0.0,0.3,21.84,NaN
2,1,2018-12-01 16:04:05,2018-12-01 16:45:20,1,4.90,1,N,263,249,1,26.5,0.0,0.5,5.46,0.0,0.3,32.76,NaN
3,1,2018-12-31 15:28:07,2018-12-31 15:28:16,0,0.00,5,N,132,132,1,70.0,0.0,0.0,0.00,0.0,0.3,70.30,NaN
4,2,2018-12-31 18:13:34,2018-12-31 18:41:03,1,6.74,1,N,162,116,1,24.5,1.0,0.5,5.26,0.0,0.3,31.56,NaN

In [14]:
# What is average trip distance? 
res = validator.expect_column_values_to_be_between(
        column="trip_distance",
        result_format="COMPLETE",
        include_config=True,
        auto=True,
        profiler_config=None,
    )

Profiling Dataset:   0%|          | 0/1 [00:00<?, ?it/s]

Calculating Metrics:   0%|          | 0/2 [00:00<?, ?it/s]

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

Calculating Metrics:   0%|          | 0/4 [00:00<?, ?it/s]

Calculating Metrics:   0%|          | 0/4 [00:00<?, ?it/s]

Calculating Metrics:   0%|          | 0/9 [00:00<?, ?it/s]

In [16]:
validator.save_expectation_suite()

In [ ]:
# max_value:63.3
# min_value:0

In [ ]:
 batch_request: dict = {
        "datasource_name": "taxi_pandas",
        "data_connector_name": "monthly",
        "data_asset_name": "my_reports",
    }

    validator: Validator = get_validator_with_expectation_suite(
        batch_request=batch_request,
        data_context=context,
        expectation_suite_name=None,
        expectation_suite=None,
        component_name="profiler",
    )

In [ ]:

batch_request = materialize_batch_request(batch_request=batch_request)
validator: "Validator" = data_context.get_validator(  # noqa: F821
    batch_request=batch_request,
    expectation_suite=expectation_suite,
)

return validator

In [ ]:
# how do you write a self -initializiag